<a href="https://colab.research.google.com/github/eswar554/first_work_progress/blob/main/list_tuple_set_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Structures**

Data Structures allow us to store and organize data efficiently.This will allow us to easily access and perform operations on the data.

In Python, there are four built-in data structures
*  List
*  Tuple
*  Set
*  Dictionary

**List**
List is the most versatile python data structure.
Holds an ordered sequence of items.

A **list** in Python is a mutable, ordered collection that can hold a variety of data types, including integers, strings, floats, and even other lists. It allows duplicate elements and supports indexing, slicing, and various methods for manipulation like appending, inserting, or removing items. Lists are defined using square brackets `[]`, with elements separated by commas.


### **List Methods:**
1. **`append(item)`**: Adds an item to the end of the list.
2. **`extend(iterable)`**: Extends the list by appending elements from another iterable.
3. **`insert(index, item)`**: Inserts an item at the specified index.
4. **`remove(item)`**: Removes the first occurrence of the specified item.
5. **`pop(index)`**: Removes and returns the item at the specified index (default is the last item).
6. **`clear()`**: Removes all elements from the list.
7. **`index(item, start, end)`**: Returns the index of the first occurrence of the specified item.
8. **`count(item)`**: Returns the count of the specified item in the list.
9. **`sort(key=None, reverse=False)`**: Sorts the list in ascending order (modifies the list in place).
10. **`reverse()`**: Reverses the order of the list (in place).
11. **`copy()`**: Returns a shallow copy of the list.

### **Built-in Functions for Lists:**
1. **`len(list)`**: Returns the number of items in the list.
2. **`max(list)`**: Returns the largest item in the list.
3. **`min(list)`**: Returns the smallest item in the list.
4. **`sum(list)`**: Returns the sum of the elements (for numeric lists).
5. **`sorted(list, key=None, reverse=False)`**: Returns a new sorted list without modifying the original.
6. **`list(iterable)`**: Converts an iterable (like a string, tuple, or range) into a list.
7. **`any(list)`**: Returns `True` if at least one element is truthy.
8. **`all(list)`**: Returns `True` if all elements are truthy.

### **Five simple and meaning full example in python list**

```
# This is formatted as code
```

**1. Create and Print list**

In [5]:
n = int(input("Enter your custom list range : "))
list1 = []
for i in range(n):
    new = input()
    list1 += [new]
print(list1)

Enter your custom list range : 3
4
3
2
['4', '3', '2']

**2.Greater than N the elements in list that are greater an N**

In [7]:
num_list = [1, 6, 32, 93, 71, -20, 30, -90, 50]
# Write your code here
n = int(input("the element that you need to compare:"))
new_list = []
for i in range(len(num_list)):
    if n < num_list[i]:
        new_list += [num_list[i]]
print(new_list)

the element that you need to compare:3
[6, 32, 93, 71, 30, 50]

**3. First and Last element of the list**

In [9]:
number = input("Size of the list the should be greater than 4 :")
new_list = []
for i in range(number):
    new_input = input()
    if i < 2:
        new_list += [new_input]
    if (number-2) <= i:
        new_list += [new_input]
print(new_list)

Size of the list the should be greater than 4 :5
asd
asd
dfg
dfb
vvf
['asd', 'asd', 'dfb', 'vvf']

In [19]:
number = int(input("Size of the list the should be greater than 4 :"))
new_list = []
for i in range(number):
    new_item = input()
    new_list += [new_item]
print(new_list[:1]+new_list[number-1:])

Size of the list the should be greater than 4 :6
wef
sdf
tyh
asd
rth
dv
['wef', 'dv']

**4. Divisible by 5**

In [20]:
n = int(input("Size of the list :"))
new_list = []
for i in range(n):
    new = int(input())
    if new % 5 == 0:
        new_list += [new]
print(new_list)

Size of the list :5
23
45
77
55
15
[45, 55, 15]

**5. Reversing the list**

In [24]:
N = int(input("Size of the list :"))
new_list = []
for i in range(N):
    new_item = input()
    new_list += [new_item]
print("printing after reversing")
for i in range(N):
    print(new_list[N-i-1])
print("Using reverse method",list(reversed(new_list)))

Size of the list :5
asd
hhh
erg
rthrhrt
htrhtrhtr
printing after reversing
htrhtrhtr
rthrhrt
erg
hhh
asd
['htrhtrhtr', 'rthrhrt', 'erg', 'hhh', 'asd']

### **Tuple**
A **tuple** in Python is an immutable, ordered collection of items that can hold elements of mixed data types, including integers, strings, floats, or even other tuples. Once created, the elements of a tuple cannot be modified, added, or removed, making them useful for storing fixed data. Tuples are defined using parentheses `()` with elements separated by commas. They are memory-efficient and support indexing, slicing, and various operations similar to lists.


---


### **Tuple Methods:**

1. **`count(item)`**: Returns the number of occurrences of a specified item in the tuple.
2. **`index(item)`**: Returns the index of the first occurrence of a specified item in the tuple.

---

### **Built-in Functions for Tuples:**

1. **`len(tuple)`**: Returns the number of elements in the tuple.
2. **`max(tuple)`**: Returns the largest element in the tuple (for comparable elements).
3. **`min(tuple)`**: Returns the smallest element in the tuple (for comparable elements).
4. **`sum(tuple)`**: Returns the sum of elements in the tuple (for numeric elements).
5. **`sorted(tuple)`**: Returns a sorted list of elements from the tuple.
6. **`tuple(iterable)`**: Converts an iterable (like a list or string) into a tuple.
7. **`any(tuple)`**: Returns `True` if at least one element in the tuple is truthy.
8. **`all(tuple)`**: Returns `True` if all elements in the tuple are truthy.

### **Five simple and meaning full example in python Tuple**

**1. Replace the element, replace the last number of each tuple in the list with the given number(N).**

In [26]:
num_list = [(10, 20, 30), (1, 2), (5, 10, 15, 45)]

n = int(input("enter the number should be replace"))
new_list = []
for i in num_list:
    update = i[:-1] + (n,)
    new_list.append(update)
print(new_list)

enter the number should be replace44
[(10, 20, 44), (1, 44), (5, 10, 15, 44)]

**2. Remove N in all Tuples.**

In [27]:
num_list = [(1, 2, 3, 4, 5, 6), (2, 4, 6, 8), (1, 3, 5, 7)]

number = int(input("enter the element that should be removed :"))
new_list = []
for i in num_list:
    new_tuple = i
    if number in i:
        index_n = i.index(number)
        new_tuple = i[:index_n] + i[index_n+1:]
    new_list.append(new_tuple)
print(new_list)

enter the element that should be removed :3
[(1, 2, 4, 5, 6), (2, 4, 6, 8), (1, 5, 7)]

**3. Using the count method**

In [6]:
numbers = (1, 2, 2, 3, 4, 2, 5)

count_2 = numbers.count(2)
print(f"The number 2 appears {count_2} times in the tuple.")

The number 2 appears 3 times in the tuple.

**4. using index in tuple**

In [7]:
fruits = ("apple", "banana", "cherry", "apple", "date")

first_index = fruits.index("apple")
print(f"The first occurrence of 'apple' is at index {first_index}.")

cherry_index = fruits.index("cherry")
print(f"The first occurrence of 'cherry' is at index {cherry_index}.")

The first occurrence of 'apple' is at index 0.
The first occurrence of 'cherry' is at index 2.

**5.  Analyze a Tuple of Numbers**

In [8]:
numbers = (15, 3, 45, 23, 9, 45)

length = len(numbers)
maximum = max(numbers)
minimum = min(numbers)
total_sum = sum(numbers)
sorted_numbers = sorted(numbers)

print(f"Original Tuple: {numbers}")
print(f"Length: {length}")
print(f"Maximum Value: {maximum}")
print(f"Minimum Value: {minimum}")
print(f"Sum: {total_sum}")
print(f"Sorted: {sorted_numbers}")

Original Tuple: (15, 3, 45, 23, 9, 45)
Length: 6
Maximum Value: 45
Minimum Value: 3
Sum: 140
Sorted: [3, 9, 15, 23, 45, 45]

### **Set**
A **set** in Python is an unordered collection of unique elements. It is mutable, meaning elements can be added or removed after creation, but the elements themselves must be immutable (e.g., numbers, strings, or tuples). Sets do not allow duplicate elements, automatically removing any duplicates during creation. Sets are useful for mathematical operations like union, intersection, and difference. They are defined using curly braces `{}` or the `set()` constructor.


---


### **Set Methods**

1. **`add(item)`**: Adds an item to the set.
2. **`update(iterable)`**: Adds multiple elements from an iterable to the set.
3. **`remove(item)`**: Removes the specified item from the set. Raises a `KeyError` if the item is not found.
4. **`discard(item)`**: Removes the specified item from the set without raising an error if the item is not found.
5. **`pop()`**: Removes and returns an arbitrary element from the set. Raises a `KeyError` if the set is empty.
6. **`clear()`**: Removes all elements from the set.
7. **`copy()`**: Returns a shallow copy of the set.
8. **`union(*sets)`**: Returns a new set containing all unique elements from the original set and the specified sets.
9. **`intersection(*sets)`**: Returns a new set with elements common to the original set and the specified sets.
10. **`difference(*sets)`**: Returns a new set with elements in the original set that are not in the specified sets.
11. **`symmetric_difference(other_set)`**: Returns a new set with elements in either set but not both.
12. **`issubset(other_set)`**: Returns `True` if all elements of the set are in `other_set`.
13. **`issuperset(other_set)`**: Returns `True` if the set contains all elements of `other_set`.
14. **`isdisjoint(other_set)`**: Returns `True` if the set has no common elements with `other_set`.

---

### **Built-in Functions for Sets**

1. **`len(set)`**: Returns the number of elements in the set.
2. **`max(set)`**: Returns the maximum element in the set (for comparable elements).
3. **`min(set)`**: Returns the minimum element in the set (for comparable elements).
4. **`sum(set)`**: Returns the sum of all numeric elements in the set.
5. **`sorted(set)`**: Returns a sorted list of elements from the set.
6. **`any(set)`**: Returns `True` if any element in the set is truthy.
7. **`all(set)`**: Returns `True` if all elements in the set are truthy.
8. **`set(iterable)`**: Converts an iterable (e.g., list or string) into a set.

### **Five simple and meaning full example in python Set**
**1. Missing Numbers**

In [9]:
list_a = list(map(int, input("Enter numbers separated by spaces: ").split()))

max_ele = max(list_a)
set_b = set(range(1, max_ele + 1))
set_a = set(list_a)
result = set_b.difference(set_a)
result = sorted(result)
print(result)

Enter numbers separated by spaces: 2 4 6 1 7 8 10
[3, 5, 9]

**2. Remove Duplicates**

In [1]:
numbers = list(map(int, input("Enter numbers separated by spaces: ").split()))

new_set = set(numbers)
new_list = sorted(new_set)
print(new_list)

2 2 3 5 6 7 8 35 46
[2, 3, 5, 6, 7, 8, 35, 46]

**3. Adding an item to the set**

In [4]:
set_a = {"pencil"}

word = input("enter the new word :")
set_a.update([word])

print(set_a)

enter the new word :hello
{'hello', 'pencil'}

**4. Removing Common Elements Between Two Sets.**

In [7]:
set1 = set(map(int, input("Enter elements of the first set, separated by spaces: ").split()))
set2 = set(map(int, input("Enter elements of the second set, separated by spaces: ").split()))

unique_elements = set1.symmetric_difference(set2)
print(f"Unique elements: {unique_elements}")

Enter elements of the first set, separated by spaces: 5 4 6 3 5 6 3
Enter elements of the second set, separated by spaces: 44 66 323 66 77 8
Unique elements: {66, 323, 3, 4, 5, 6, 8, 77, 44}

**5. Removing Stop Words From Text**

In [8]:
text = "Python is a powerful and versatile programming language"
stop_words = {"is", "a", "and"}
words = set(text.split())

filtered_words = words.difference(stop_words)
print(f"Filtered words: {filtered_words}")

Filtered words: {'Python', 'versatile', 'powerful', 'language', 'programming'}

### **Dictionaries**
### **Dictionaries in Python**

A dictionary in Python is an **unordered, mutable, and indexed collection** of items. Each item in a dictionary is stored as a key-value pair, where:

- **Keys**: Must be unique, immutable, and of a hashable data type (e.g., strings, numbers, tuples).
- **Values**: Can be of any data type and can be duplicated.
---
### **Dictionary Methods - Descriptions**

1. **`clear()`**: Removes all key-value pairs from the dictionary.  
2. **`get(key[, default])`**: Retrieves the value for the given key; returns the `default` value if the key is not found.  
3. **`pop(key[, default])`**: Removes the key-value pair for the specified key and returns the value; returns `default` if the key is not found.  
4. **`popitem()`**: Removes and returns the last inserted key-value pair as a tuple (key, value).  
5. **`keys()`**: Returns a view object displaying all the keys in the dictionary.  
6. **`values()`**: Returns a view object displaying all the values in the dictionary.  
7. **`items()`**: Returns a view object displaying all key-value pairs as tuples.  
8. **`update([other])`**: Updates the dictionary with key-value pairs from another dictionary or iterable.  
9. **`setdefault(key[, default])`**: Returns the value of the specified key; if the key doesn’t exist, inserts it with the `default` value.  
10. **`copy()`**: Returns a shallow copy of the dictionary.  
11. **`fromkeys(iterable[, value])`**: Creates a new dictionary with keys from the iterable and values set to `value`.  

---

### **Built-in Functions for Dictionaries - Descriptions**

1. **`len(dictionary)`**: Returns the total number of key-value pairs in the dictionary.  
2. **`sorted(dictionary)`**: Returns a sorted list of keys from the dictionary.  
3. **`any(dictionary)`**: Returns `True` if any key in the dictionary is truthy.  
4. **`all(dictionary)`**: Returns `True` if all keys in the dictionary are truthy.  
5. **`max(dictionary)`**: Returns the maximum key in the dictionary based on sorting.  
6. **`min(dictionary)`**: Returns the minimum key in the dictionary based on sorting.

### **Five simple and meaning full example in python Dictionaries**
1. Add an key

In [10]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}
key, value = input("Enter the student's name and their favorite sport, separated by a space: ").split()
students_dict[key] = value
print(students_dict)

Enter the student's name and their favorite sport, separated by a space: eswar chess
{'Ram': 'Cricket', 'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Cricket', 'eswar': 'chess'}

**2. Remove a key**

In [1]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket",
    "Deepak": "Boxing"
}
key = input("enter an key that need to remove:")
del students_dict[key]
print(students_dict)

enter an key that need to remove:Ram
{'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Cricket', 'Deepak': 'Boxing'}

**3. sports Data**

In [2]:
students_dict = {
    "Ram": "Cricket",
    "Naresh": "Football",
    "Vani": "Tennis",
    "Rahim": "Cricket"
}

n = int(input("enter the number of keys should be added:"))
for i in range(n):
    key, value = input("Enter the key and value pairs, separated by a space:").split()
    students_dict[key] = value
print(students_dict)

enter the number of keys should be added:2
Enter the key and value pairs, separated by a space:sureesh chess
Enter the key and value pairs, separated by a space:ashok football
{'Ram': 'Cricket', 'Naresh': 'Football', 'Vani': 'Tennis', 'Rahim': 'Cricket', 'sureesh': 'chess', 'ashok': 'football'}

**4. Squares **

In [3]:
n = int(input("Enter the number of squares you need to print:"))
dectonery = {
}
for i in range(1,n+1):
    dectonery[i] = i*i
print(dectonery)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**5. Student Id Map**

In [5]:
def adding_name_id(student_names, id_values):
    dect = {}
    for i in range(len(student_names)):
        key = student_names[i]
        value = id_values[i]
        dect[key] = value
    return dect
student_names = input("Enter the student names, separated by a space::").split(" ")
id_values = input("Enter the student id's, separated by a space: ").split(" ")
student_dect = adding_name_id(student_names, id_values)
student_dect = student_dect.items()
student_dect = sorted(student_dect)
for i in student_dect:
    print(*i)

Enter the student names, separated by a space::eswar raju rajesh
Enter the student id's, separated by a space: 123 456 768
eswar 123
rajesh 768
raju 456